{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}

    {% endblock %}</title>
    <link href="{% static 'css/base.css'%}" type="text/css" rel="stylesheet" />
    <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet" />
</head>
<body>
{#   显示消息   #}
<div class="system-message">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message |safe }}   {# 使用safe关闭自动转义 #}
                    <a href="#" class="close"> </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
<div class="center container ">
    {% block content %}

    {% endblock %}
</div>
</body>
</html>