{% extends 'base.html' %}
{% block title %}
    用户信息
{% endblock %}
{% block content %}
    <h1>用户信息</h1>

    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p><label for="id_username">Username:</label><input id="id_username" maxlength="30" name="username" type="text"  value="{{ user.username }}" readonly/></p>
        <p><label for="id_email">email:</label><input id="id_email" maxlength="30" name="email" type="text"  value="{{ user.email }}" readonly/></p>
        {% if user.first_name or user.last_name %}
            <p><label for="id_first_name">First Name:</label><input id="id_first_name" maxlength="30" name="first_name" type="text"  value="{{ user.first_name }}" /></p>
            <p><label for="id_last_name">Last name:</label><input id="id_last_name" maxlength="30" name="last_name" type="text" value="{{ user.last_name }}" /></p>
        {% else %}
            {{ user_form.as_p }}
        {% endif %}

        {{ profile_form.as_p }}

        <input type="submit" value="提交信息" />
        </form>

{% endblock %}